body{
    --vertical_top_margin: 50px;
}

.content, .footer{
    max-width: 1400px;
    margin: 0 auto;
}

.content{
    display: flex;
    
    justify-content: center;
}

.mg50{
    margin-top: var(--vertical_top_margin);
}

img.fa{
    margin-right: 35px;
    color: var(--black);
    
    width: 30px;
    height: 30px;
}

i.fa{
    margin-right: 12px;
}

a{
    text-decoration: none;
}

.italic{
    font-style: italic;
}

time{
    color: var(--super-grey);
}
