@import "./supporting/imports.css";

.navbar{
    margin: 0 4em 0 20px;
    
    display: flex; 
    flex-flow: column nowrap;
    flex: 20%;
}

.navbar  a{     
    color: var(--super-green);
}

.navbar > img{
    display: block;
    max-width: 120px;
    height: 120px;
    margin-bottom: 5px;
}

.navbar > .navbar_nav{
    display: flex;
    flex-flow: column nowrap;
}

.navbar > .navbar_nav > li{
    padding: 13px 3px 39px 0;
}

.navbar_tweet{
    padding-top: 2px;
    margin-bottom: 10px;
}

.navbar_tweet > .navbar_tweet_content{
    display: flex;
    flex-flow: column nowrap;
}

.navbar_tweet > .navbar_tweet_content > h1{
    padding-bottom: 3px;
    border-bottom: 1px dashed var(--super-light);
    text-transform: uppercase;
    margin-bottom: 1em;
}

.navbar_tweet > .navbar_tweet_content > a{
    padding: 10px;
    border: 1px solid var(--super-light);
    border-radius: 10px;
    margin: 6px 0 6px 0;
}


.navbar_tweet > .navbar_tweet_content > h4{
    letter-spacing: 1px;
    white-space: 3px;
}
