@media only screen and (max-width: 1176px){
    .content__main{
        max-width: 712px;
        padding-right: 0;
    }
    
    .content__main-nav{
        height: 35px;
    }
    
    .content__main-nav-link{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .content__main-nav .content__main-nav-link-text{
        display: none;
    }
    
    .content__main-sign-text{
        margin-right: 8px;
    }
    
    .content__main-nav-link-title{
        font-size: 14px;
    }
    
    .content__main-sign{
        padding: 14px;
    }
    
    .content__main-cards-card{
        max-width: 159px;
    }
    
    .content__main-card-img{
        max-width: 159px;
    }
    
    .footer{
       max-width: calc(150px + 712px);
    }
    
}

@media only screen and (max-width: 992px){
    .content{
        flex-direction: column;
        align-items: center;
    }
    
    .content__main-nav{
        flex-wrap: wrap;
        height: auto;    
    }
    
    .content__navbar-tweet{
        display: none;
    }
    
    .content__navbar{
        display: flex;
        
        margin-right: 0;
        
        flex-flow: row nowrap;
        
        align-items: center;
        justify-content: space-between;
        
        max-width: 710px;
        width: 100vw;
    }
    
    .content__navbar-link{
        flex-flow: column wrap;
    }
    
    .content__navbar-nav{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding-right: 0;
        
        flex-basis: 75%;
        
        height: auto;
        width: auto;
    }

    .content__navbar-nav-item{
        flex: 1 2 100px;
    }
    
    .content__navbar-nav-item > a{
        flex-flow: column wrap;
    }
    
    .nav-item .nav-item-Tastemakers::before,
    .nav-item .nav-item-Blog::before,
    .nav-item .nav-item-TheAList::before,
    .nav-item .nav-item-Contribure::before,
    .nav-item .nav-item-About::before{
        margin-right: 0;
        margin-bottom: 12px;
    }
    
    .footer{
        max-width: 712px;
    }
}

@media only screen and (max-width: 768px){
    .content__main, .content__navbar, .footer{
        max-width: 545px;
    }
    
    .content__navbar-nav{
        flex-basis: 100%;
    }
    
    .nav-item .nav-item-Tastemakers::before,
    .nav-item .nav-item-Blog::before,
    .nav-item .nav-item-TheAList::before,
    .nav-item .nav-item-Contribure::before,
    .nav-item .nav-item-About::before{
        display: none;
    }
    
    .content__main-nav-link{
        display: none;
    }
    
    .content__main-sign{
        flex-flow: column wrap;
        align-items: unset;
    }
    

    .content__main-sign .content__main-sign-text{
        margin-bottom: 16px;
    }
    
    .content__main-form{
        width: 545px;
    }
    
    .content__main-form .content__main-form-input[type="email"]{
        width: 394px;
        margin-right: 36px;
    }
    
    .content__navbar-nav-item{
        flex: 2 1;
    }
    
    .content__navbar-nav-item:first-child{
        margin-left: 9px;
    }
    
    .content__main-card-img {
        max-width: 256px;
        height: 150px;
        flex: 1 1;
    }
    
    .content__main-cards .content__main-cards-card{
        max-width: 256px;
        flex: 1 1 50%;
    }
    
    .content_main-card-link{
        display: flex;
    }
    
    .content__main-card-middle{
        margin-bottom: 60px;
    }
    
    .content__main-img .content__main-img-header{
        background-color: var(--white-op6);
        min-width: 100%;
        
        text-align: left;
        
        padding-left: 10px;
    }
    
    .content__main-img .content__main-img-description{
        min-width: 100%;
        
        padding-left: 24px;
    }
    
    .content__main-img > :last-child{
        margin-bottom: 0;
    }
    
    .content__main-img .content__main-img-header, 
    .content__main-img .content__main-img-description{
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 480px){
    
    .content--mg-top-50{
        margin-top: 0;
    }
    
    .content__main, .content__navbar, .content{
        width: fit-content;
        min-width: fit-content;
    }
    
    .footer{
        width: 480px;
        margin-left: 5%;
    }
    
    .content__navbar{
        flex-flow: column-reverse wrap;
        
        min-width: 100%;
    }
    
    .content__navbar-nav{
        align-items: baseline;
        
        width: 100%;
    }
    
    .content__navbar-nav-item{
        margin-top: 32px;
    }
    
    .content__navbar-nav-item:first-child {
        padding: 3px 2px;
    }
    
    .content__navbar-link{
        margin-bottom: 42px;
    }
    
    .content__main-sign{
        flex-flow: column wrap;
        align-items: unset;
    }
    

    .content__main-sign .content__main-sign-text{
        margin-bottom: 16px;
        width: 366px;
    }
    
    .content__main-form{
        width: 545px;
    }
    
    .content__main-form .content__main-form-input[type="email"]{
        width: 211px;
        margin-right: 56px;
    }
    
    .content__main-cards {
        justify-content: center;
    }
    
    .content__main-cards .content__main-cards-card {
        max-width: 375px;
        align-items: center;
    }

    .content__main-card-middle .content__main-card-title{
        font-size: 18px;
        line-height: 20px;
    }
    
    .content__main-card-middle{
        margin-bottom: 10px;
    }
    
    .content__main-card-footer .content__main-card-date,
    .content__main-card-footer .content__main-card-link{
        font-size: 16px;
        line-height: 20px;
    }
    
    .content__main-card-middle .content__main-card-text{
        width: 373px;
    }
    
    .content__main-card-img{
        min-width: 376px;
        max-width: fit-content;
        height: 198px;
        
        flex: 0;
    }
    
    .content__main-cards-card .content__main-card-footer{
        align-self: baseline;
    }
}